body{
    margin: 0;
    padding: 0;  
    text-decoration: none;
    
}
h1{
    font-family:normal;
    font-weight:900px;
}
h4{
     font-family:normal;
    font-weight:600;
}

header{
    width:100%;
    height:700px;
    position:relative;
    background-image:url('https://static.vecteezy.com/system/resources/previews/034/255/546/non_2x/spaghetti-with-meat-sauce-and-vegetables-on-a-wooden-table-ai-generated-free-photo.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

.home{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}
.logo{
    margin-top:50vh;
    width: 20vw;
}
.download1{
    transition:transform 0.5s;
}
.download1:hover{
    transform:scale(1.1);
}
.download2{
    transition:transform 0.5s;
}
.download2:hover{
    transform:scale(1.1);
}
.secondpage{
    position:relative;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:32px;
}
.secondpage h1{
    font-size:2.5rem;
    font-weight:700;
    color:#f65364;
    margin-bottom:16px;
    font-family: Arial, Helvetica, sans-serif;
}
.secondpage p{
    font-size:16px;
    color:#555;
    max-width:500px;
    margin:auto;
    margin: auto;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
.leaf{
    position:absolute;
    width:35px;
    top:5%;
    left:30%;

}
.momos{
    position:absolute;
    width:235px;
    top:10%;
    right:15%;

}
.burger{
    position:absolute;
    width:250px;
    bottom:25%;
    left:10%;

}
.tomato1{
    position:absolute;
    width:35px;
    bottom:15%;
    left:20%;

}
.tomato2{
    position:absolute;
    width:35px;
    bottom:50%;
    right:15%;

}
.pizza{
    position:absolute;
    width:235px;
    bottom:10%;
    right:15%;

}